.form-element {
    /* minimaal 85% van de breedte van de viewport, maar maximaal 450px */
    width: min(85%, 450px);
}

.inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-light);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
}

.inputs-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}

.create-button {
    padding: 10px 15px;
    font-size: 16px;
    font-family: sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    background-color: #52D078;
    margin-bottom: 40px;
    color: var(--button-text);
}

.create-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
