.page-heading {
    text-align: center;
    color: var(--text);
}

.about-me-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
    align-items: center;
}

.lucas-image-container {
    display: flex;
    justify-content: end;
    width: 100%;
}

.circle-image {
    width: 250px;
    height: 250px;
    border: 5px solid var(--button-color);
}

.circle-image img {
    width: 100%;
    height: 100%;
}

.circle-image, .circle-image img {
    border-radius: 50%;
    cursor: pointer;
}

.about-me-text h2, .about-me-text p {
    background-color: var(--bg-light);
    color: var(--text);
    padding: 10px;
    border-radius: 10px;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-me-text h2 {
    font-size: 24px;
}

.about-me-text p {
    text-align: center;
    font: italic 18px sans-serif;
}

.about-me-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.about-me-icons a {
    width: 65px;
    height: 65px;
}

.about-me-icons a i {
    font-size: 65px;
    line-height: 65px;
    color: var(--text);
}

.project-preview-header {
    margin-top: 20px;
}

.project-preview-container {
    background-color: var(--bg-light);
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    justify-items: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}

.preview-image, .preview-button {
    width: 180px;
    height: 220px;
    border-radius: 15px;
    border: 4px solid var(--button-color);
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
}

.preview-image:hover, .preview-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 4px solid transparent;
    background-image: linear-gradient(var(--bg-light)), linear-gradient(var(--button-color) 75%, #9951bd);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.preview-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.preview-button {
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-button p {
    color: var(--text);
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

@media (max-width: 992px) {
    .about-me-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        align-items: center;
    }

    .about-me-text p {
        width: min(90%, 300px);
    }

    .project-preview-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-2 {
        display: none;
    }

    .logo, .about-me-icons, .footer {
        display: none;
    }
}

@media (max-width: 692px) {
    .toggle-slider-theme {
        position: fixed;
        top: 30px;
        left: 0;
        transform: translateX(calc(100vw - 75px));
    }

    .about-me-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-items: center;
        align-items: center;
    }

    .lucas-image-container {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }

    .project-1 {
        display: none;
    }

    .project-preview-container {
        grid-template-columns: 1fr;
        margin-top: 25px;
        margin-bottom: 120px;
    }
}