/* Toggle slider theme section */
.toggle-slider-theme {
    position: fixed;
    top: 30px;
    left: 100px;
}

.toggle-slider-theme > label {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.toggle-slider-theme .thumb {
    position: absolute;
    top: 50%;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

/* icoon styling */
.toggle-slider-theme .thumb i {
    font-size: 16px;
    color: #f39c12; /* gouden zon icoon */
    position: absolute;
    transition: opacity 0.3s ease, color 0.3s ease;
}

/* maan icoon default zichtbaar */
.toggle-slider-theme .thumb .fa-moon {
    color: #1c1c1c;
    opacity: 1;
}

/* zon icoon default hidden */
.toggle-slider-theme .thumb .fa-sun {
    opacity: 0;
}

/* laat zon icoon zien en hide maan icoon */
.toggle-slider-theme input[type="checkbox"]:checked + label .thumb .fa-moon {
    opacity: 0;
}

.toggle-slider-theme input[type="checkbox"]:checked + label .thumb .fa-sun {
    opacity: 1;
}

.theme-toggle {
    display: none;
}

.theme-toggle + label {
    background-color: hsl(0, 58%, 51%);
}

.theme-toggle:checked + label {
    background-color: hsl(211, 92%, 56%);
}

.theme-toggle:checked + label .thumb {
    transform: translate(30px, -50%);
}